@model ContosoUniversity.Models.Course

<h1>Course Details</h1>

<p>
    <strong>Title:</strong> @Model.Title
</p>
<p>
    <strong>Credits:</strong> @Model.Credits
</p>

<a asp-action="Index">Back to List</a>